<h1>Dodaj vprasanje</h1>
<form action="/photos" method="post" enctype="multipart/form-data">
    <div class="w-25">
    <input class="form-control mb-2" type="text" name="name" placeholder="Naslov vprasanja" required>
    <textarea class="form-control mb-2" rows="5" name="desc" placeholder="Opis" required></textarea>
    <input class="form-control mb-2" type="text" name="tags" placeholder="Zastavice" required>
    <input class="form-control mb-2" type="submit" value="Dodaj">
    </div>
</form>